[user]
    name = Antti Harju
    email = git@anttiharju.dev
    signingkey = /Users/antti/.ssh/keys/sk-github-sign
[push]
    autoSetupRemote = true
[gpg]
    format = ssh
[commit]
    gpgsign = true
[gpg "ssh"]
    allowedSignersFile = /Users/antti/.ssh/keys/sk-github-sign.pub
[init]
    defaultBranch = main
[branch "master"]
        pushRemote = no_push
        # disable per repo with
        # git config branch.master.pushRemote origin
[branch "main"]
        pushRemote = no_push
        # disable per repo with
        # git config branch.main.pushRemote origin
